// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Slicknav CSS
@import "slicknav.css";

// Import Owl Carousel
@import "owl.carousel.css";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');
body {
	line-height: 1;
  font-family: 'Quattrocento', serif;
  height: auto !important;
  min-height: 100% !important;
	/*background: rgba(255, 250, 222, 0.19);*/
}
.btn:focus, a:focus{
	outline: none;
}

.btn-default{
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.btn-default:hover{
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.login-bar{
  width:100%;
  background-color: #d9b60b;
  padding:10px;
  color:#292759;
  text-align: right;
  font-size: 12px;
  a{
    color:#292759;
  }& a:hover{
    color:#fff;
  }
}

/*NAV MENU CSS*/
header{
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color:transparent;
}
.cor-header{background-color:rgba(255,255,255,0.98);border-bottom: 1px solid rgba(0,0,0,0.1);}
  #menu {
    li{
      display: inline;
    }
    a{
      color:#292759;
      margin-left: 10px;
      font-size: 15px;

    }& a:hover{}
  }

.slicknav_menu {
	display:none;
}

.margem-menu{
  margin-top: 38px;
}

li.mobile-link-only{
  display:none!important;
}

/*CSS Home*/
#home{
  min-height: 100vh;
  background-image: url('../img/tarot-FabiolaDeOliveiraBanner.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  h2{
    margin-top: 2.5em;
  }
  p{
    font-size: 1.2em;
    line-height: 22px;
		color:#4C3A26;
  }
  a{
    margin-top: 1em;
  }& a:hover{}
}
.margem-home{
  margin-top: 8em;
}

a.btn.como-funciona{
  padding: 15px;
  color:#292759;
  text-decoration: underline;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
/*CSS Carta da semana*/
#Carta-da-semana{
  min-height: 100vh;
  p{
  font-size: 1em;
  line-height: 22px;
  }
}
.carta-da-semana-imagem{
	width: 300px;
	/*height: 500px;*/
	    position: absolute;
	    opacity: 1;
	    right: 12%;
	    margin-top: 160px;
	img{width:100%;}
}
.margem-carta{
  margin-top: 115px;
}

//CSS Blog - Site
#Blog{
  position: relative;
  min-height:100vh;
  padding-top: 120px;
  h2{
    color:#d9b60b!important;
  }
  p{color:#d9cdbf!important;}
}

section#Blog.btn.btn-default{
	background:#f00!important;
}
.header-blog{
  position: absolute;
  z-index: 99;
}
#Blog .carousel-img{
  width:100%;
  height:82vh;
  background-color:#000;
  background-size:fixed;
  background-repeat: no-repeat;
  background-position: top;
  div{
    width:100%;
    max-width:600px;
    padding:9.5em;
  }
  p{
    font-size: 1.2em;
    line-height: 22px;
  }

}

.blog-image-1{
  background-image: url('../img/blog-1.jpg');
}
.blog-image-2{
  background-image: url('../img/blog-2.jpg');
}

.blog-image-3{
  background-image: url('../img/blog-3.jpg');
}

//CSS Blog interino
//CSS Blog
#Blog-oficial{
  position: relative;
  min-height:100vh;
  padding-top: 150px;
  h2{
    color:#d9b60b!important;
  }
}
.header-blog{
  position: absolute;
  z-index: 99;
}
#Blog-oficial .carousel-img{
  width:100%;
  min-height:400px;
  background-color:#000;
  background-size:fixed;
  background-repeat: no-repeat;
  background-position: top;
  div{
    width:100%;
    max-width:600px;
    padding: 4em;
  }
  p{
    font-size: 1.2em;
    line-height: 22px;
		color:#d9cdbf!important;
  }
}
.margemEditoria{
	margin-top: 15px;
}

#Editorias, #MaisLidas{
	background: #f3f1ee;
	padding: 10px;
	border-radius: 2px;
	h3{
		margin-top: 0px;
		color:#d9b60b;
		border-bottom:1px solid #d9b60b;
	}
	ul li{
		list-style-type: disc;
		line-height: 1.5em;
	}
	.table > tbody > tr > td{
		max-width: 100%;
		border-top:0px;
		border-bottom:1px solid #eeebe6;
		padding: 0px 10px;
	}
	h4{
		color:#d9b60b; margin-bottom: 2px;
	}
	p{
		color:#80694e !important;
	}
	a:hover{text-decoration: none;}
}

.materia-blog{
	margin: 0px;
	padding: 15px;
	border-bottom:1px solid #f3f1ee;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
	h2{
		margin-top: 7px;
	}
}

.materia-blog:hover{
	background:#fafafa;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.blog-image-1{
  background-image: url('../img/blog-1.jpg');
}
.blog-image-2{
  background-image: url('../img/blog-2.jpg');
}

.blog-image-3{
  background-image: url('../img/blog-3.jpg');
}

.materia{
	a{
		color: #292759;
    margin-top: 20px;
    display: block;
	}
	h2{
		margin-top: 10px;
	}
	p{
		color:#80694e!important;
		line-height: 1.5em;
	}
}

#footerBlog{
	border-top:1px solid #f3f1ee;
	padding-top: 20px;
	margin-top:50px;
	margin-bottom: 10px;
}

.breadcrumb{
	background:transparent;
}

#Sobre{
  padding-top: 100px;
  min-height: 100vh;
  img{
    border:6px solid #d9cdbf;
    width:200px;
    margin-top:70px;
  }
  p{
    font-size:1em;
    line-height: 22px;
  }
	h3{
		background-color: #d9b60b;
		color: #fff;
		margin-bottom: 0px;
		padding-top: 15px;
		}
}

.sobre{
  height:305px;
  padding-right:10px;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #d9cdbf;
}

#Sobre .carousel-img{
  width:100%;
  min-height:26vh;
  padding-top:20px;
	padding-bottom:60px;
  background-color:#d9b60b;
  p{
    font-size: 1.2em;
    text-align: center!important;
		padding-top: 0px;
		color:#fff;
  }
}

#Eventos{
  min-height: 100vh;
  padding-top: 120px;
}

.header-eventos{
  h2{text-align:center;}
  p{
    text-align: center;
    font-size: 1.2em;
  }
}

.areaEventos{
  width:100%;
  float: left;
  position: relative;
  border-top:1px solid #d9cdbf;
  padding: 15px;
}
.dataEvento{
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
  border-radius: 45px;
  border: 1px solid #d9b60b;
  padding: 19px;
  text-align: center;
}
.mes{
  font-size: 1em;
}
.dia{
  font-size: 2em;
}
.localEvento{
  width:60%;
  float: left;
  position: relative;
  text-align: left;
  padding-left: 20px;
  h2{
    font-size: 1.2em;
    color:#80694e;
  }
  p{
    font-size: 1em;
  }
}
.maisInformacoes{
  width:25%;
  float: left;
  position: relative;
  padding-top: 25px;
}

.home-mobile{padding:0px;}

#contato{
  min-height: 82vh;
  padding-top: 1.8em;
  background-image: url('../img/bg-contato.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  h2{text-align:center;}
  p{
    text-align: center;
    font-size: 1.2em;
  }
}

.margem-agenda{padding-top: 5px;}

//CSS Modal Agendar consulta
#modalSystem{
  text-align: center;
  h2{
    color:#80694e;
		margin-top: 20px;
  }
  .btn-default{
    width:100%;
  }
  .btn-default.fb-button{
    background-color: #3a5795;
    border:1px solid #3a5795;
  }
  .btn-default.fb-button:hover{background-color: #1e3a75;}
  /*span{
    font-size: .8em;
    display: block;
    padding: 20px;
    button{
      color:#80694e;
      text-decoration: underline;
      border:0px;
      background: none;
    }
    button:hover{
      color:#d9b60b;
    }
  }*/
}

.btn-mostra-cadastro{
	color:#80694e;
	text-decoration: underline;

}

.btn-mostra-cadastro:hover{
	color:#d9b60b;
}

.margem-cadastro-botao{
	margin-top: 10px;
}

.modal-content {
    -webkit-box-shadow:none;
    box-shadow: none;
    border:0px;;
}
.modal-header{
  border-bottom:0px;
}

//AREA DO CLIENTE
#areaCliente{
	min-height: 100vh;
	.config{
		width: 13px;
		border:0px;
		float: left;
		margin-right: 2px;
	}
	img{
		border:6px solid #d9cdbf;
		width:200px;
	}
	p{
		margin-top: 10px;
		font-size: 1em;
		line-height: 1.3em;
	}
	a{
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-ms-transition: all 1s linear;
		-o-transition: all 1s linear;
		transition: all 1s linear;
	}
	.col-md-5 h4{
		border-bottom:1px solid #292759;
		padding-bottom: 10px;
	}
	.col-md-8 p{
		padding:0px 5px;
		font-size: 1em;
		line-height: 1.5em;
		span{
			color:#292759;
			margin-left: 5px;
		}
	}
}

.dataConsulta{
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
  border-radius: 2px;
  border: 1px solid #d9b60b;
  padding: 19px;
  text-align: center;
}

.ultimasConsultas{
	margin-top: 10px;
	min-height:100px;
}

//Escolha consultor
.escolha-consultor{
	border: 1px solid #e3e3e3;
	background: #fafafa;
}
.escolha-consultor .tab-content{
	border:1px solid #e3e3e3;
	background: #fff;
	margin-bottom:13px;
}

.escolha-consultor .bio-consultor{
	text-align: left;
	h2{
		padding:10px;
	}
	p{
		padding: 10px;
	}
}

.agendamentoConsulta{
  border: 1px solid #e3e3e3;
}

#frmAgendamento .form-group {
    margin-bottom: 1px;
    padding: 5px 5px;
}

#frmAgendamento.form-group:nth-child(even) {
	background:#fafafa;
}

.box-cadastro{
	border: 1px solid #e3e3e3;
	background: #fafafa;
	padding-bottom: 13px;
}

.box-body{
	ul, ol{
		line-height: 1.4em;
		font-size: 0.9em;
		padding-left: 15px;
	}
	p{
		line-height: 1.4em!important;
		font-size: 0.9em!important;
		span{
			color:#292759;
		}
	}
}

.checkbox{
	input{
		float:left;
		margin-top: 6px;
	}
p{
		padding-top: 0px;
		float:left;
		position:relative;
	}
}

.area-cliente-perfil{
	padding: 24px;
	border: 1px solid #e3e3e3;
}

#sexo_cliente{
	float: left;
  width: auto;
	margin-left:49px;
	}
.form-group .has-feedback p{
	padding-top: 9px;
	padding-left: 69px;
	text-align: left;
	}

.add-Credito{
	border:1px solid #e3e3e3;
	background-color: #fafafa;
}

.lockscreen-style{
	border:1px solid #e3e3e3;
	background: #fafafa;
	padding:20px;
	a{
		color:#80694e;
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-ms-transition: all 1s linear;
		-o-transition: all 1s linear;
		transition: all 1s linear;
	}
}

.link-cadastro a{
	color: #292759!important;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

@media screen and (max-width: 60em) {
	/* #menu is the original menu */
  header{  background-color:rgba(255,255,255,0);}
	 #menu {
		display:none;
	}
  .mobile-carta img{
    width:40%;
    display: none;
  }
  #home h2{
    margin-top:0.5em;
  }
  .home-mobile{
    padding: 2em;
  }
  .fb-logo{
    display: none;
  }

	.slicknav_menu {
		display:block;
	}
  li.mobile-link-only{
    display: block!important;
  }
  .login-bar{display: none;}
  header{
    position: absolute;
  }
	.carta-da-semana-imagem{
		display: none;
	}
  #Blog .carousel-img div{padding:8em 5em;}
  .margem-carta{margin-top:5px;}

  .dataEvento{
    text-align: center;
    left: 50%;
    margin-left:-40px;
  }
  .localEvento{
    width:100%;
    clear:left;
    padding-left: 0px;
    text-align:center;
  }
  .maisInformacoes{
    width:100%;
    clear:left;
    text-align:center;
  }
  #Sobre{
    padding-top: 0px;
    img{
      margin-top: 30px;
    }
  }
  .sobre{
    height:auto;
    overflow-y:hidden;
  }
	#sideContent{
		margin: 10px;
	}
}
